.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 0, 212);
}
.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 0, 212);
}
.grid div {
    height: 20px;
    width: 20px;
}
.mini-grid div {
    height: 20px;
    width: 20px;
}
.tetromino {
    background-color: blueviolet;
    /* border: 1px solid gainsboro; */
    border-radius: 4px;
}